@using SimpleGuestBook.Models
@model IEnumerable<SimpleGuestBook.Models.GuestbookEntry>

@{
    ViewBag.Title = "Гостевая книга";
}

<div class="panel-heading text-center">
    <h1>Гостевая книга</h1>
</div>

@foreach (var item in Model)
{
    <div class="container">
        <h3><b>@item.Name</b></h3>
        <p>@item.Message</p>
    </div>
}

<br />

@Html.Partial("CreateMessagePartial", new GuestbookEntry());
